*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
    font-family: poppins, sans-serif;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}
.hero_header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}
.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* Might remove */
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #d5d5d5;
}
/* Might remove */
.logo i{
    height: 45px;
    width: 45px;
    background-color: #007ced;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor:pointer;
    text-align: center;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color:#fff;

}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    /* background-color: #007ced; */
    display: none;

}

nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;
}

nav .navlinks li a{
    color: #e5e5e5;
    margin-right: 2.5rem ;
    
   
}
nav .navlinks li a i{
    font-size: 35px;
    transition: 0.5s;
}
nav .navlinks li a i:hover{
    color:#007ced;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;

}
.container .heropic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}
.heropic img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%) brightness(150%);
    transition: 0.5s;
}
.heropic img:hover{
    transform: scale(1.2);
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-text h5{
    color: #e5e5e5;
    font-size: 14px;

}
.hero-text h5 span{
    color: #007ced;
    font-size: 16px;
}
.hero-text h1{
    color: #007ced;
    font-size: 3rem;
}
.hero-text p{
    color: #e5e5e5;
}

/* Download CV button */
.btn-group{
    margin:45px 0;
}

.btn-group .btn{
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgba(0,0,0,0.5);
    /* box-shadow: 0 10px 10px -8px rgba( 0 0 0 / 78%); */
}
.btn.active{
    border-color: #007ced;
}
.btn.active:hover{
    background-color: #007ced;
}
.hero-text .social i{
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}
.hero-text .social i:hover{
    color:#007ced;
    transform: rotate(360deg);
}
/* Projects highlights */
.projects{

    padding: 15px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}

.projects .projLinks{


    position: relative;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.projLinks img{
    display: flex;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.8);
    max-width: 100%;
    flex-wrap: wrap;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    opacity: 0;
    transition: 1s ease;
    background-color: rgba(0,0,0,0.8);
    align-content: center;
    text-align: center;
    max-width: 100%;
  }

.projLinks:hover .overlay {
    opacity: 1;
    filter: blur(50%);
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  /* skills Section */
  .SkillsSection{
    display: flex;
    /* width: 100%; */
    color: #d5d5d5;
  }
  .SkillsSection span{
    font-size: 60px;
    font-weight: 700;
  }
.SkillsSection i{
    color: #e5e5e5;
    font-size: 60px;
    margin-right: 10px;
    transition: 0.5s;
    padding-left: 50px;
  }



/* Displaying nav bar for smaller screens */
@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    /* Toggle button  */
    .click{
        top: 45px;
    }
    .click span{
        position: fixed;
        margin-top: 12px;
    }
   .click span:first-child{
        transform: rotate(-40deg);
   }
   .click span:nth-child(2)
   {
        opacity: 0;
        margin: 0;
   }
   .click span:last-child{
        transform: rotate(45deg);
        top: 0;
   }
   nav .navlinks{
        position: fixed;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 200px;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
   }
   nav .navlinks li{
        display: block;
   }
   nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
   }
   nav .navlinks.open{
        right:0;
   }

   .projLinks img{
    width: 150px;
    height: 150px;
}
.overlay {
    height: 150px;
    width: 150px;
  }
  .text {
    font-size: 10px;
  }
   .SkillsSection{
    flex-wrap: wrap;
}


}
@media(max-width:786px){
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text{
        padding: 40px 0px;
    }

    nav .navlinks{
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 200px;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
   }
   nav .navlinks li{
        display: block;
   }
   nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
   }
   nav .navlinks.open{
        right:0;
   }

    .projLinks img{
        width: 100px;
        height: 100px;
    }
    .overlay {
        height: 100px;
        width: 100px;
      }
      .text {
        font-size: 10px;
      }
    .SkillsSection{
        flex-wrap: wrap;
    }
      


}